$font: 'Righteous', cursive;
$gradient-text: -webkit-linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
$gradiente: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
$gradiente-hover: linear-gradient(45deg, #FF5ACD  0%, #FBDA61  100%);
$yellow-rgb: rgb(251, 218, 97);
$pink-rgb: rgb(255, 90, 205);
$font-color:  black;
$background-acordion: #fff2c3;
$yellow:  #FBDA61;
$hover: white;
$border-tooltip: #fb95dd;
$background-url: #fb69d0;
$background-color:#fd9ee1;
