.tooltip {
  margin-top: 20px;
  text-decoration: underline;
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted $border-tooltip;
  color:$background-url;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color:$background-color;
  color: $font-color;
  text-align: center;
  border-radius: 6px;
  padding: 18px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 25%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: $background-color  transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
